
<style> td { text-align: center;  vertical-align: middle;} </style>

<div class="row">
	<div class="col-md-6 "></div>
	<div class="col-md-6 ">
		<table class="table table-sm table-bordered">
			<tbody>
				<tr >
					<td rowspan="3" >ORDRE D'IMPUTATION (OI)</td>
					<td >exercice</td>
					<td ></td>
				</tr>

				<tr >
					<td >N° :</td>
					<td > 1 </td>
				</tr>

				<tr >
					<td >DATE :</td>
					<td ></td>
				</tr>
			</tbody>
		</table>

	</div>


	<div class="col-md-12">
		<table class="table table-sm table-bordered"> 
			<tbody>
				<thead>
					<tr > 
						<td colspan="5"> RENSEIGNEMENTS SUR L'IMPUTATION </td>
					</tr>
				</thead>
					<tr > 
						<td >BENEFICIAIRE</td>
						<td colspan="4"> </td>
					</tr>

					<tr >
						<td > OBJET</td>
						<td colspan="4"> </td>
					</tr>

					<tr > </tr>

					<tr > 
						<td >MONTANT (DH)</td>
						<td>CONTRAT</td>
						<td>N° </td>
						<td> DATE </td>
						<td >MODE DE REGLEMENT</td>
					</tr>

					<tr >
						<td ></td>
						<td >BC</td>
						<td ></td>
						<td  >VIREMENT</td>
						<td>Chéque</td>

					</tr>
						
					<tr >
						<td >MONTANT EN LETTRES : </td>
						<td colspan="7" > </td>
					</tr>

			</tbody>
		</table>
	<br/>
	</div>
	<div class="col-md-12">
		<table class="table table-sm table-bordered">  
			<tbody>
				<thead>
					<tr > 
						<td colspan="7" >IMPUTATION COMPTABLE</td>
					</tr>
				</thead>
				
				<tr > 
					<td colspan="4"> COMPTABILITE GENERALE</td>
					<td colspan="3" rowspan="2"> IMPUTATION BUDGETAIRE</td>
				</tr>

				<tr > 
					<td colspan="2" >DEBIT</td>
					<td colspan="2" >CREDIT</td>
				</tr>

				<tr >
					<td >N° COMPTE</td>
					<td >MONTANT (DH)</td>
					<td >N° COMPTE</td>
					<td >MONTANT (DH)</td>
					<td >CHAP</td>
					<td >ART</td>
					<td >Ligne</td>
				</tr>

				<tr > 
					<td > NRIB  </td>
					<td  ></td>
					<td > </td>
					<td  ></td>
					<td >#REF!</td>
					<td >#REF!</td>
					<td >#REF!</td>
				</tr>


			</tbody>
		</table>
	</div>
</div>